
.anav {
    color: #002642;
    text-decoration: none;
    padding: 1px;
}

article {
    padding-bottom: 20px;
}

body {
    background-color: #E59500;
    background-image: url('images/bg.jpg');
    position: relative;
    display: flex;
    height: 100vh;
}

h1 {
    background-color: #002642;
    color: #F7F9F9;
    float: left;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    padding: 10px;
    text-align: left;
  }

.about {
    color:#02040F;
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5em;
    font-size: 1.15em;
    float: left;
    width: 95%;
}

.container {
    background:#E5DADA;
    color: #02040F;
    margin: 0 auto; 
    margin-top: 4em;
    padding: 20px;
    width: 85%;
    top: 25px;
    position: relative;
    border-top: 1.2em solid #002642;
    height: max-content;
}

.headClass {
    background-color:#E5DADA ;
    border: 1px;
    border-bottom: 2px solid grey;
    border-color: #002642;
    font-family: 'Oxygen', sans-serif;
    height:60px;
    margin-bottom: 10px;
    position: fixed;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
}

.headWidth {
    width: 88%;
    margin: 0 auto;
}

#nav a:hover {
    background-color: #E59500;;
    color: #E5DADA;
    transition: 0.33s ease;
}

.labelPhoto {
    background: #840032;
    bottom: 55px;
    color: #E5DADA;
    justify-content: space-between;
    display: flex;
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
    position: relative;
    width:275px;
    text-decoration: none;
}

.labelPhoto:hover {
    background-color: #E59500;;
    color: #E5DADA;
    transition: 0.33s ease; 
}

.labelPhoto a {
    color: #E5DADA;
    text-decoration: none;
}

.photo1 i {
    font-size: 45px;
    background: #002642;
    border-radius: 50%;
    color: #E5DADA;
    position: absolute;
    bottom: 52px;
    right: 5px;
    border: 1px solid #002642;
}

.photo1 i:hover {
    background-color: #E5DADA;;
    color: #002642;
    transition: 0.33s ease;  
    border-color: #E5DADA;
}

.labelText {
    padding: 10px 0px 10px 10px;;
}

.me {
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
}

#nav {
    color: #02040F;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    padding-top: 22px;
    text-decoration: none;
    text-align: right;
}

.pageTitle {
    color: #13262F;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    margin-bottom: 0.5em;
    width: 100%;
}

.photo1 {
    margin: 15px;
    float: left;
    position: relative;
}

footer{
    background-color:#002642;
    bottom: 0;
    color: #ebebeb;
    height: 40px;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    position: fixed;
    width: 100%;
}

@media only screen and (max-width: 980px) {
    article   {
align-content: left;
    }

    .container {
        width: 80%;
        margin: 0 left;
    }

    .headClass {
        margin: 0 left;
        width: 100%;

    }

    #nav {
        width: 100%;
    }

    .headWidth {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0 left;
    }

    .headClass {
        width: 100%;
        background: #E5DADA;
        }

    .headWidth {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {
   .anav {
    height: 28px;
    text-align: center;
   }

   .headClass {
    height: 100px;
    background: #E5DADA;
    width: 100%;
   }

   .headWidth {
       width: 100%;
       text-align: center;
   }

   h1 {
       width: 100%;
       text-align: center;
   }

   .photo1 {
       width: 90%;
   }

   #nav {
       width:100%;
       height: 50px;
       text-align: center;
   }

   .container {
       width: 100%;
       position: relative;
       margin-bottom: 1em;
   }

   .me {
       width: 100%;
   }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}