
.anav {
    color: #777;
    text-decoration: none;
    padding: 1px;
}

article {
    padding-bottom: 20px;
    float: left;
}

body {
    background-color: #73683B;
    position: relative;
    display: flex;
    height: 100vh;
}

form {
    width: 100%;
}

h1 {
    background-color: #A76D60;
    color: #F7F9F9;
    float: left;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    padding: 10px;
    text-align: left;
  }

.headClass {
    background-color:#F7F9F9 ;
    border: 1px;
    border-bottom: 2px solid grey;
    border-color: #601700;
    color: #777;
    font-family: 'Oxygen', sans-serif;
    height:56px;
    margin-bottom: 10px;
    position: fixed;
    text-decoration: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.headWidth {
    width: 88%;
    margin: 0 auto;
}

a:hover {
    background-color: #73683B;;
    color: #ebebeb;
    transition: 0.33s ease;

}

.labelClass {
    color:#13262F;
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5em;
    font-size: 18px;
    float: left;
    width: 100%;
}

.labelPhoto {
    background: #73683B;
    bottom: 15px;
    color: #ebebeb;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    padding: 15px;
    position: relative;
    text-align: center;
    width:245px;
}

.me {
    float:left;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
}


.container {
    background:#B0A084;
    color: #13262F;
    margin: 0 auto; 
    margin-top: 5em;
    min-height: 100%;
    padding: 20px;
    width: 88%;
    top: 100px;
    border-top: 5px solid #583E23;
}

#nav {
    color: #777;
    float: right;
    font-family: 'Oxygen', sans-serif;
    padding-top: 20px;
    text-decoration: none;
    text-align: right;
}

.pageTitle {
    color: #13262F;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    width: 960px;
    margin-bottom: 0.5em;
}

.photo1 {
    float: left;
    margin: 20px;
}

footer{
    background-color:#777;
    border-top: 5px solid #73683B;
    bottom: 0;
    color: #ebebeb;
    display: flex;
    height: 40px;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    margin-top: 45px;
    position: fixed;
    width: 100%;
    flex-direction: row;
    flex: 1;
}

@media only screen and (max-width: 980px) {
    article   {
align-content: left;
    }

    .container {
        width: 700px;
        margin: 0 left;
        flex: 1;
    }
    .headClass {
        margin: 0 left;
        width: 100%;
        flex: 1;

    }
    #nav {
        width: 350px;
    }

    .headWidth {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 70%;
        margin: 0 left;
    }

    .headClass {
        width: 100%;
        background: #fff;
        }

    .headWidth {
        width: 90%;
    }
}

@media only screen and (max-width: 640px) {
   .anav {
    height: 28px;
    text-align: center;
   }

   .headClass {
    height: 100px;
    position: static;
    background: #fff;
    width: 99%;
   }

   .headWidth {
       width: 100%;
       text-align: center;
   }

   h1 {
       width: 100%;
       text-align: center;
       float: left;
   }

   .photo1 {
       width: 90%;
   }

   #nav {
       width:100%;
       height: 50px;
       text-align: center;
       padding-top: 15px;
   }

   .container {
       width: 90%;
       position: relative;
   }

   .me {
       width: 100%;
   }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}